:root {
  .vp-doc div[class*='language-'] {
    background-color: var(--vp-c-bg);
  }
  
  .custom-block.demo .custom-block-title {
    color: var(--vp-custom-block-details-text);
  }
  
  .custom-block.demo {
    border-color: var(--vp-custom-block-details-border);
    color: var(--vp-custom-block-details-text);
    background-color: var(--vp-custom-block-details-bg);
  }
  
  .VPHero .VPImage {
    filter: drop-shadow(-2px 4px 6px rgba(0, 0, 0, 0.2));
    padding: 18px;
  }
}
